extends layout

block content
  h1= title
  p Welcome to #{title}! Proudly serving over #{numOwners} individuals!
  p Across our #{numCategories} categories, we have more than #{numListings-1} active listings!
