extends layout

block content
  h1= title

  p Item: #{listing.name}
  p Price: #{listing.price}
  p Description: #{listing.details ? listing.details : 'Lister has not specified any additional info'}
  p Listed by: 
    a(href=listing.owner.url) #{listing.owner.name}
    |  in 
    a(href=listing.category.url) #{listing.category.name}
    |  on #{listing.date_posted}
  p Are you sure you want to delete the listing?
  form(method="post") 
    button(type="submit") Delete Listing
    // TODO: Link should be styled to look like button
    a(href=listing.url) No